<a href="https://colab.research.google.com/github/RitvikVankayala/NLP/blob/main/Extractive_text_summarization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import numpy as np
import pandas as pd
import textwrap
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk import word_tokenize

In [68]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [69]:
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

File ‘bbc_text_cls.csv’ already there; not retrieving.

In [70]:
df=pd.read_csv("bbc_text_cls.csv")

In [71]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [ ]:
df['text'][0]

.sample will provide a sample with arrainged list

In [73]:
doc=df[df.labels=='business']['text'].sample(random_state=42)

In [74]:
def wrap(x):
  return textwrap.fill(x,replace_whitespace=False,fix_sentence_endings=True)

In [ ]:
print(wrap(doc.iloc[0]))

In [76]:
data=nltk.sent_tokenize(doc.iloc[0].split('\n',1)[1])

In [77]:
tokenizer=TfidfVectorizer(stop_words=stopwords.words('english'),norm='l1',)

In [78]:
X=tokenizer.fit_transform(data)

In [79]:
def get_row_scores(tfidf_row):
  
  x=tfidf_row[tfidf_row!=0]
  return x.mean()

In [80]:
scores=np.zeros(len(data))
for i in range(len(data)):
  score=get_row_scores(X[i,:])
  scores[i]=score

In [81]:
sort_idx=np.argsort(-scores)

In [ ]:
print("Generated messages :")
for i in sort_idx[:5]:
  print(wrap("%.2f:%s"%(scores[i],data[i])))

In [83]:
doc.iloc[0].split("\n",1)[0]

'Christmas sales worst since 1981'

In [84]:
def text_summarize(text):
  data=nltk.sent_tokenize(text)
  X=tokenizer.fit_transform(data)

  scores=np.zeros(len(data))
  for i in range(len(data)):
    score=get_row_scores(X[i,:])
    scores[i]=score

  sort_idx=np.argsort(-scores)
  print("Generated messages :")
  for i in sort_idx[:5]:
    print(wrap("%.2f:%s"%(scores[i],data[i])))

In [85]:
doc=df[df.labels=='entertainment']['text'].sample(random_state=42)

In [ ]:
text_summarize(doc.iloc[0].split("\n",1)[1])

In [87]:
doc.iloc[0].split("\n",1)[0]

'Career honour for actor DiCaprio'

In [ ]:
print(wrap(doc.iloc[0]))