<a href="https://colab.research.google.com/github/RitvikVankayala/NLP/blob/main/TFIDF_From_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget -nc https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv

--2023-01-08 05:21:51--  https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.21.23.210, 2606:4700:3030::ac43:d5a6, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5085081 (4.8M) [text/csv]
Saving to: ‘bbc_text_cls.csv’

bbc_text_cls.csv    100%[===================>]   4.85M  7.31MB/s    in 0.7s

2023-01-08 05:21:52 (7.31 MB/s) - ‘bbc_text_cls.csv’ saved [5085081/5085081]

In [2]:
import pandas as pd
import numpy as np
import nltk

In [3]:
from nltk import word_tokenize

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
df=pd.read_csv('bbc_text_cls.csv')

In [6]:
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [28]:
# word to index mapping
idx=0
word2idx={}
# list of docs in indexes form
tokenized_docs=[]
for doc in df['text']:
  words=word_tokenize(doc.lower())
  # a single doc with the indexes
  doc_as_int=[]
  for word in words:
    if word not in word2idx:
      word2idx[word]=idx
      idx+=1
     
      #for the future usage
    doc_as_int.append(word2idx[word])
  tokenized_docs.append(doc_as_int)

In [29]:
# Reverse word mapping

idx2word={v:k for k, v in word2idx.items()}

In [31]:
# Number of documents
N=len(df['text'])

# Number of words
V=len(word2idx)


print(N)
print(V)

2225
34762

In [33]:
# Constructing a sparse matrix

tf=np.zeros((N,V))

In [35]:
#computing the term frequency counts
for i,doc_as_int in enumerate(tokenized_docs):
  for j in doc_as_int:
    if(i>=0 and i<N):
      tf[i,j]+=1

In [36]:
# calculating inverse doc frequency

#it will of size V
document_freq=np.sum(tf>0,axis=0)

idf=np.log(N/document_freq)

In [37]:
#computing tfidf
tf_idf=tf*idf

Try to understand what is np.random.seed is used for

In [38]:
np.random.seed(123)

In [43]:
# Selecting a random text from the dataset and obtaining the top 5 terms based on tf-idf

i=np.random.choice(N)
row=df.iloc[i]
print("Label : ",row['labels'])
print("Text : ",row['text'].split('\n',1)[0])
print('Top 5 terms are ->')

scores=tf_idf[i]
indices=(-scores).argsort()

for j in indices[:5]:
  print(idx2word[j])

Label :  tech
Text :  IBM puts cash behind Linux push
Top 5 terms are ->
linux
ibm
workplace
software
programs

If possible try to implement by Count_Vectorizer